@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://en.wikipedia.org/wiki/Film" target="_blank">About film</a>
        <a href="https://www.instagram.com/maria.hrtv/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png" width="20"
                 height="20" border="0" alt="Пример">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100005683815630">
            <img src="https://opensmm.asia/wp-content/uploads/2019/10/facebook-icon-preview-1.png" width="30"
                 height="30" border="0" alt="Пример">
        </a>
    </div>
    

    <div class="content px-4">
        @Body
       
    </div>
</div>
