@page "/"

<h1>Dear Sir/Madam,</h1>

<h4>We're glad to see you on your web-site. Enjoy you time during being here!</h4>
<p><img src="https://english-grammar.biz/wp-content/uploads/2016/08/private-cinema.jpg" alt="Фото"></p>

<SurveyPrompt Title="How is cinema working? Do you enjoy being here?" />
